<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Петроградский краезнатец</title>
		<script type="text/javascript" src='bootstrup/js/bootstrap.js'></script>
		<script type="text/javascript" src='bootstrup/js/bootstrap.bundle.js'></script>
		<script type="text/javascript" src='bootstrup/js/bootstrap.bundle.min.js'></script>
		<script type="text/javascript" src='bootstrup/js/bootstrap.esm.js'></script>
		<script type="text/javascript" src='bootstrup/js/bootstrap.esm.min.js'></script>
		<script type="text/javascript" src='bootstrup/js/bootstrap.min.js'></script>

		<link rel="stylesheet" href="bootstrup/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrup/css/bootstrap-grid.css">
		<link rel="stylesheet" href="bootstrup/css/bootstrap-reboot.css">
		<link rel="stylesheet" href="bootstrup/css/bootstrap-utilities.css">
		<link rel="stylesheet" href="bootstrup/css/bootstrap-utilities.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand" href="#"><img src="/img/logo.png"></a>

    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        	<li class="nav-item">
          		<a class="nav-link active" aria-current="page" href="#">Лекции</a>
        	</li>
        	<li class="nav-item">
          		<a class="nav-link" href="#">Экскурсии</a>
        	</li>
        	<li class="nav-item">
          		<a class="nav-link" href="#">Статьи</a>
        	</li>
        	<li class="nav-item">
          		<a class="nav-link" href="#">Контакты</a>
        	</li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Искать!</button>
      </form>
    </div>
  		</div>
	</nav>

	<h1>Лекции</h1>

	<p>Андрей Кулик делится результатами своих исследований — читает открытые научно-популярные лекции с 2018 года. В фокусе его внимания история повседневности рубежа XIX-XX веков, Первой и Второй мировых войн. Через фотографии, открытки, письма, предметы повседневного обихода эпохи, а также репрезентацию событий в кинематографе, живописи, карикатуре Андрей погружает слушателей в атмосферу эпохи.
	</p>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col'>
				<h2 class='very_big_h'>< 30</h2>
				<p>научно-популярных лекций
				<img src="">
			</div>
			<div class='col'>
				<h2 class='very_big_h'>< 100</h2>
				<p>проведённых мероприятий
				<img src="">
			</div>
			<div class='col'>
				<h2 class='very_big_h'>< 20</h2>
				<p>площадок-партнёров
				<img src="">
			</div>
		</div>
	</div>

	<p>В числе площадок, на которых за эти 5 лет проходили лекции: библиотеки Санкт-Петербурга, Исторический парк «Россия — моя история», Военно-медицинский музей, киностудия «Лендок», Государственный музей городской скульптуры.

	<h2>Когда ближайшая лекция?</h2>

	<p>Актуальные анонсы бесплатных мероприятий можно найти в официальном сообществе ВКонтакте: Андрей Кулик: лекции, экскурсии СПб.
	Пожалуйста, будьте внимательны, многие площадки просят записываться на лекции заранее.

	<h2>Платные лекции</h2>

	<p>Любую лекцию можно провести на вашей площадке в удобную вам дату.
	<p>Это может быть и тематический классный час, приуроченный к памятной дате, и научпоп вечер в кафе.
	<p>Стоимость лекции на заказ — от 6000 р.
	<p>Узнать детали: +7 953 178-80-15 (WatsApp)


</body>
</html>