{% extends 'lection/base.html' %}
{% load static %}



{% block content %}
	<div class="big_fields_text mt-4">

		<h1 class="mb-4">Лекции</h1>

		<p>Андрей Кулик делится результатами своих исследований — читает открытые научно-популярные лекции с 2018 года. <p>В фокусе его внимания история повседневности рубежа XIX-XX веков, Первой и Второй мировых войн. Через фотографии, открытки, письма, предметы повседневного обихода эпохи, а также репрезентацию событий в кинематографе, живописи, карикатуре Андрей погружает слушателей в атмосферу эпохи.
		</p>
		<div class='container-fluid'>
			<div class='row my-3'>
				<div class='col'>
					<h2 class='very_big_h'>< 30</h2>
					<p class='sub_logo'>научно-популярных лекций
					<img src="">
				</div>
				<div class='col'>
					<h2 class='very_big_h'>< 100</h2>
					<p class='sub_logo'>проведённых мероприятий
					<img src="">
				</div>
				<div class='col'>
					<h2 class='very_big_h'>< 20</h2>
					<p class='sub_logo'>площадок-партнёров
					<img src="">
				</div>
			</div>
		</div>

		<p>В числе площадок, на которых за эти 5 лет проходили лекции: библиотеки Санкт-Петербурга, Исторический парк «Россия — моя история», Военно-медицинский музей, киностудия «Лендок», Государственный музей городской скульптуры.

		<h2>Когда ближайшая лекция?</h2>

		<p>Актуальные анонсы бесплатных мероприятий можно найти в официальном сообществе ВКонтакте: Андрей Кулик: лекции, экскурсии СПб.
		Пожалуйста, будьте внимательны, многие площадки просят записываться на лекции заранее.

		<h2>Платные лекции</h2>

		<p>Любую лекцию можно провести на вашей площадке в удобную вам дату.
		<p>Это может быть и тематический классный час, приуроченный к памятной дате, и научпоп вечер в кафе.
		<p>Стоимость лекции на заказ — от 6000 р.
		<p>Узнать детали: +7 953 178-80-15 (WatsApp)
	</div>
	<hr>

	{% for el_le in lections %}
	<div class="big_fields_text my-3">
		<ul>
			<li>{{ el_le.lection_title }}</li>
		</ul>
	</div>
	{% endfor %}


{% endblock %}


