{% extends 'main/base.html' %}
{% load static %}


{% block content %}


<div class='big_fields_text_all'>
	<h1 class='pt-4 pb-3'>Сотрудничество</h1>

	<div class='row pb-5'>

		<div class='col-md-7'>
			<div class='d-flex'>
				<img class='icon_suprem' src="{% static 'imgs/polygon.png' %}">
				<h3 class='pt-1 ps-2'>Продюссерам, режиссерам</h3>
			</div>

			<p class='we_500 pt-2'>Услуги исторического консультанта для художественных и документальных фильмов.</p>
			<p class='pt-2'>Области специализации: </p>
			<p>• История повседневной жизни, быта, интерьера, костюма городских жителей разных сословий конца XIX - первой половины XX века (имперский Санкт-Петербург, революционный Петроград, советский Ленинград)
			<p>• Дореволюционный дачный быт в окрестностях Санкт-Петербурга
			<p>• Военная форма, аммуниция, быт времён Первой мировой войны
			<p>• Военная форма, аммуниция, быт  времён Советско-Финляндской войны (Зимней войны)
			<p>• Военная форма, аммуниция, быт  времён Великой Отечественной войны, Второй мировой войны
			<p>• Повседневная жизнь в блокадном Ленинграде


			<p class='we_500 pt-3'>Связаться: +7 (953) 178-80-15 (WhatsApp)
		</div>

		<div class='col-md-5'>
			<img class='img img-fluid py-3' src="{% static 'imgs/contact/ku.jpg' %}">
		</div>

	</div>

		

	<div class='d-flex'>
		<img class='icon_suprem' src="{% static 'imgs/ellipse.png' %}">
		<h3 class='pt-1 ps-2'>Фотографам</h3>
	</div>

	<p class='we_500 pt-2'>Фотосъемка на условиях TFP.</p>
	<p>Андрей Кулик знает в Петербурге и окрестностях много мест, где можно погрузиться в атмосферу других эпох. Это парадные и проходные дворы, это "непарадный Петербург". На отдалении от основных туристических троп сохранились старинные элементы убранства, витражи, дореволюционные лифты, предметы-свидетели и участники другой жизни.
	<p>Часть этих объектов можно увидеть, пожалуй, только на авторских экскурсиях Андрея. Нам хочется сохранить, зафиксировать эту атмосферу, эту прячущуюся красоту.</p>
	<p><span class='we_500 pt-2'>С вас — фотографии для архива Андрея (без людей).</span> С базовой цветокоррекцией, без обработки.
	<p><span class='we_500 pt-2'>С Андрея — провести вас по локациям, показать ракурсы.</span> Взять с собой модель и пофотографировать её тоже — можно. 
	<p class='we_500 pt-2'>Договориться о фотопрогулке: +7 (953) 178-80-15 (WhatsApp)

	<div class='row py-2'>
		<div class='col-md-3'>
			<img class='img img-fluid py-3' src="{% static 'imgs/contact/window.jpg' %}">
		</div>
		<div class='col-md-3'>
			<img class='img img-fluid py-3' src="{% static 'imgs/contact/cat.jpg' %}">
		</div>
		<div class='col-md-3'>
			<img class='img img-fluid py-3' src="{% static 'imgs/contact/top.jpg' %}">
		</div>

		<div class='col-md-3'>
			<img class='img img-fluid py-3' src="{% static 'imgs/contact/lady_.jpg' %}">
		</div>
	</div>


	<h3></h3>
	<p>

</div>

{% endblock %}