{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class='wrap_cover'>
	<img class='index_cover d-none d-lg-block d-xl-block d-xxl-block' src="{% static 'imgs/pages/lection.jpg' %}" >

	<img class='index_cover img-fluid d-block d-lg-none' src="{% static 'imgs/pages/go_with_me.jpg' %}" >

	<div class='head_index'>
		<div class='row'>
			<div class='col ms-2'>
				<div class = 'pb-3'>
					<h1 class='h1_index white_text text-start'>АНДРЕЙ</h1>
					<h1 class='h1_index white_text text-start'>КУЛИК</h1>
				</div>
			</div>

			<div class='col ms-2'>
				<div class="d-flex flex-row my-4">
					<img src='https://kulik.spb.ru/static/img/polygon.png' class='pb-3 pe-3'>
					<h5 class='white_text'>Авторские экскурсии</h5>
				</div>
				<div class="d-flex flex-row my-4">
					<img src='https://kulik.spb.ru/static/img/rectangle_orange.png' class='pb-3 pe-3'>
					<h5 class='white_text'>Научно-популярные лекции</h5>
				</div>
				<div class="d-flex flex-row my-4">
					<img src='https://kulik.spb.ru/static/img/ellipse.png' class='pb-3 pe-3'>
					<h5 class='white_text'>Экспертиза</h5>
				</div>
			</div>
		</div> 
	</div> 

	
</div>



<!-- MAIN CONTENT -->
<div class="big_fields_text my-5">

	<p class='sub_logo'>Андрей Кулик - петербургский историк, независимый исследователь, экскурсовод, лектор и просветитель, куратор выставочных проектов. <p class='sub_logo'>Область его научных интересов - история повседневности рубежа XIX-XX веков, Первой и Второй мировых войн. </p>

	<div class='row py-3'>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/pages/lection_kino.jpg' %}">
		</div>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/pages/lection_palace.jpg' %}">
		</div>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/pages/lection_light.jpg' %}">
		</div>
	</div>


	<p>Андрей Кулик делится результатами своих исследований — читает открытые научно-популярные лекции с 2018 года. 
	<p>В фокусе его внимания история повседневности рубежа XIX-XX веков, Первой и Второй мировых войн. Через фотографии, открытки, письма, предметы повседневного обихода эпохи, а также репрезентацию событий в кинематографе, живописи, карикатуре Андрей погружает слушателей в атмосферу эпохи.</p>

	<div class='container-fluid'>
		<div class='row my-3'>
			<div class='col-md-4'>
				<h2 class='very_big_h'>< 30</h2>
				<p class='we_500'>научно-популярных лекций
				<img src="">
			</div>
			<div class='col-md-4'>
				<h2 class='very_big_h'>< 100</h2>
				<p class='we_500'>проведённых мероприятий
				<img src="">
			</div>
			<div class='col-md-4'>
				<h2 class='very_big_h'>< 20</h2>
				<p class='we_500'>площадок-партнёров
				<img src="">
			</div>
		</div>
	</div>

	<p>В числе площадок, на которых проходили лекции: библиотеки Санкт-Петербурга, Исторический парк «Россия — моя история», Военно-медицинский музей, киностудия «Лендок», Государственный музей городской скульптуры.
	

	<div class='row py-3'>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/index/1.jpg' %}">
		</div>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/index/aborigen.jpg' %}">
		</div>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/index/3.jpg' %}">
		</div>
	</div>

	<div class='row'>
		<div class='col-md-6'>
			<h2>Экскурсии в любую погоду</h2>
			<h5>История ближе, чем кажется</h5>
			<button class='mt-3 btn btn-primary'>Список экскурсий</button>
		</div>
		<div class='col-md-6'>
			<h2>Лекции</h2>
			<h5>Погружение в атмосферу прошлого</h5>
			<button class='mt-3 btn btn-success'>Перечень лекций</button>
		</div>
	</div>

	<div class='row py-3'>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/index/8.jpg' %}">
		</div>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/index/5.jpg' %}">
		</div>
		<div class='col-md-4'>
			<img class='img img-fluid py-3' src="{% static 'imgs/index/7.jpg' %}">
		</div>
	</div>


	<center><h2>Ждём на лекциях и экскурсиях!</h2></center>

</div>

{% endblock %}