{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<style type="text/css">

	.tour_main_img{
		width: 100%;
		height: 600px;
		overflow: hidden;
		position: relative;
	}
	.tour_main_img img {
		height: auto; 
		width: 100%; 
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.tours_container{
		width: 100%;
	}
</style>
	

<div class="big_fields_text my-4 px-3">
	<div class='row'>
		<div class='col-md-5'>
			<h1 class="blue_deep">{{ the_tour.title_tour }}</h1>

			<p class='pt-4 we_500'>Длительность прогулки: {{ the_tour.duration }}</p>
			<p class='we_500'>Место встречи группы: {{ the_tour.meet_point }}</p>

			<p class="pt-3">{{ the_tour.annotation_tour|linebreaks }}</p>

			<div class=''>

				<h4 class='mt-3 blue_deep'>На экскурсии мы узнаем:</h4>
				<p class="">{{ the_tour.questions|linebreaks }}</p>

				<br>
				<p class='we_500'>Стоимость для 1 участника: {{ the_tour.price_single }} ₽</p>
				<p class='we_500'>Стоимость для группы до 10 человек: {{ the_tour.price_group }} ₽</p>
				<br>

				<a href="#" class="my-2 me-2 btn btn-primary">Посмотреть актуальное расписание</a><a href="#" class="my-2 btn btn-success">Заказать экскурсию</a> 
			</div>
		</div>
		<div class='col-md-7'>
			<div class='tour_main_img'>
				<img src="{{ the_tour.img_tour_main.url }}" class="card-img-top" alt="...">
			</div>

			<div class='tours_container mt-3'>
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_1.url }}" class=" " alt="...">
				</div>
				{% if the_tour.img_tour_2 %}
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_2.url }}" class=" " alt="...">
				</div>
				{% endif %}
				{% if the_tour.img_tour_3 %}
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_3.url }}" class=" " alt="...">
				</div>
				{% endif %}
				{% if the_tour.img_tour_4 %}
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_4.url }}" class=" " alt="...">
				</div>
				{% endif %}
				{% if the_tour.img_tour_5 %}
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_5.url }}" class=" " alt="...">
				</div>
				{% endif %}
				{% if the_tour.img_tour_6 %}
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_6.url }}" class=" " alt="...">
				</div>
				{% endif %}
				{% if the_tour.img_tour_7 %}
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_7.url }}" class=" " alt="...">
				</div>
				{% endif %}
				{% if the_tour.img_tour_8 %}
				<div class="card" style="width: 20em;">
					<img src="{{ the_tour.img_tour_8.url }}" class=" " alt="...">
				</div>
				{% endif %}
			</div>
		</div>
	</div>				
</div>




<script>
// Initialize Masonry after all images have loaded
window.onload = function() {
    var elem = document.querySelector('.tours_container');
    var msnry = new Masonry(elem, {
        itemSelector: '.card',
        columnWidth: '.card', // Use the card itself as the column width
        percentPosition: true,
        gutter: 20 // Adjust gutter as needed
    });
};
</script>

{% endblock %}


{% block tour_another %}
{% endblock %}
