{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class='wrap_cover'>
	<img class='head_cover' src="{% static 'imgs/people/people.jpg' %}">
	<h1 class="head_lozung">ВСЕ - НА ЭКСКУРСИИ КУЛИКА!</h1>
</div>

<div class="big_fields_text mt-4">
	<h1 class="mb-4">Андрей Кулик. Авторские экскурсии.</h1>

	<h3 class='py-3 red_text'>Чего точно НЕ будет?</h3>
	<div class='row'>
		<div class='col-md-4'>	
			<div class="d-flex justify-content-start"><img class='no me-3' src="{% static 'imgs/icons/no.png' %}">
			<p>Стандартных "классических" обзорных маршрутов по центру города. </p></div>
		</div>
		<div class='col-md-4'>
			<div class="d-flex justify-content-start"><img class='no me-3' src="{% static 'imgs/icons/no.png' %}">
			<p>Монотонной усыпляющей беседы экскурсовода с самим собой: <i>"Это здание возведено в одна тысяча семьсот... хрр... хррр.."</i></p></div>
		</div>
		<div class='col-md-4'>
			<div class="d-flex justify-content-start"><img class='no me-3' src="{% static 'imgs/icons/no.png' %}">
			<p>Не будет нелепиц, недостоверных фактов. Андрей Кулик в первую очередь историк, исследователь.</p></div>
		</div>
	</div>

	<h3 class='pt-4 pb-3'>Будут - необычные маршруты, внимание к деталям, погружение в атмосферу Петербурга столетней давности</h3>
	<div class='row'>
		<div class='col-md-7'>
			<p class='pt-2'>Проходные дворы, парадные, витражи... Внезапно - до сих пор работающий дверной звонок, которому более 120 лет. 
			<p>Поворачиваем за угол и - парадоксальный вопрос, над которым можно поломать голову. Андрей достает из рюкзака подлинную дореволюционную открытку: так этот перекрёсток выглядел 100 лет назад, мы сейчас в той же точке, с которой снимал фотограф. </p>

			<p>На экскурсиях Андрея Кулика интересно не только гостям города, но и петербуржцам с полувековым стажем.</p>

			<h3 class='pt-3'>Более 30 уникальных маршрутов!</h3>
			
		</div>
		<div class='col-md-5'>
			<img class='img img-fluid pb-3' src="{% static 'imgs/people/tour_autmn.jpg' %}">
		</div>
	</div>

	<h1 class='pt-4'>Пешеходные экскурсии по Санкт-Петербургу и пригородам</h1>
	
	<center>
		<form method="get">

			<ul class="tabs">
				<li class="active" data-id="0" type="submit" name="art_category" value="1">По Петербургу</li>
				<li data-id="1">По пригородам</li>
				<li data-id="2">Показать всё</li>
			</ul>


		</form>
	</center>

	<div class='tours_container py-4'>

		{% for the_tour in tours %}

		<a href="{% url 'tour:the_tour' id=the_tour.tour_id %}">
			<div class="card py-2" style="width: 20em;">
				<img src="{{ the_tour.img_tour_main.url }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h3 class="card-title blue_deep">{{ the_tour.title_tour }}</h3>
					<hr>
					<h5 class='card-sub-title'>На экскурсии мы узнаем:</h5>
					<p class="card-text">{{ the_tour.questions|linebreaks }}</p>

					<a href="{% url 'tour:the_tour' id=the_tour.tour_id %}" class="btn btn-primary">Подробнее</a>
				</div>
			</div>
		</a>

		{% endfor %}
	</div>
</div>

<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>

<script>
    // Initialize Masonry after all images have loaded
    window.onload = function() {
        var elem = document.querySelector('.tours_container');
        var msnry = new Masonry(elem, {
            itemSelector: '.card',
            columnWidth: '.card', // Use the card itself as the column width
            percentPosition: true,
            gutter: 20 // Adjust gutter as needed
        });
    };
</script>


{% endblock %}